
      
      <div id = "side-panel">
      <li class="side-panel-items dropdown">
      <a  href= "#" class="dropdown-toggle" data-toggle="dropdown">Manage tables<b class="caret"></b></a>
      <ul class =  "dropdown-menu removemargin">
      <li class="side-panel-items"><a class = "blog-nav-item" href = "#">Table-1</a></li>
      <li class="side-panel-items"><a class = "blog-nav-item" href = "#">Table-2</a></li>
      <li class="side-panel-items"><a class = "blog-nav-item" href = "#">Table-3</a></li>
      </ul>
      </li>
      
      <li class="side-panel-items dropdown">
      <a  href= "#" class="dropdown-toggle" data-toggle="dropdown">Manage Groups<b class="caret"></b></a>
      <ul class =  "dropdown-menu removemargin">
      <li class="side-panel-items"><a class = "blog-nav-item" href = "#">Group-1</a></li>
      <li class="side-panel-items"><a class = "blog-nav-item" href = "#">Group-2</a></li>
      <li class="side-panel-items"><a class = "blog-nav-item" href = "#">Group-3</a></li>
      </ul>
      </li>
      <div id="side-panel-buttons">
      <p>
      <a href = "/tles/add_tab"><button class = "btn btn-success">Create Table</button></a>
      </p>
      <p>
      <a href = "/tles/add_grp"><button class="btn btn-primary"> Create Group</button></a>
      </p>
      </div>
      </div>